<ul class="main-navigation">
  <!--<li><a href="{{ root_url }}/">Blog</a></li>-->
  <!--<li><a href="{{ root_url }}/blog/archives">Archives</a></li>-->
  <li><a href="{{ root_url }}/techinspace/">Technology In Space</a></li>
  <li><a href="{{ root_url }}/humanspaceflight/">Human Space Flight</a></li>
  <li><a href="{{ root_url }}/asteroids/">Asteroids</a></li>
  <li><a href="{{ root_url }}/earthwatch/">Earth Watch</a></li>
  <li><a href="{{ root_url }}/robotics/">Robotics</a></li>
  <li><a href="{{ root_url }}/event/">IvSpaceApps</a></li>
</ul>
